@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  /* background: linear-gradient(#2f96a3,rgb(48,62)); */
}

body {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2rem;
}